/* General Styling & Home Page*/
body {
  background-color: rgba(0, 0, 0, 0.808);
}

#homepage-title {
  text-align: center;
  margin-top: 30px;
}

#first-name,
#description,
#about-title,
#projects-title,
#contact-title {
  text-shadow: 4px 5px rgba(212, 30, 236, 0.384);
}

#about-area,
#projects-area,
#contact-area {
  text-align: center;
  margin-top: 10px;
}

#description {
  margin: 20px;
}

#profile-picture > img {
  margin: 40px;
  border-radius: 100px;
  height: 320px;
  border: 0.5px solid white;
}

#project-cards {
  margin-top: 20px;
}

/* Navbar */
.nav-item:hover {
  box-sizing: border-box;
  background-color: rgba(165, 49, 211, 0.575);
  border-radius: 5px;
  transition: 0.6s background-color;
}
.dropdown-item:hover {
  background-color: rgba(134, 21, 179, 0.384);
}

/* About Page */
.page-links {
  color: white;
}

.page-links:hover {
  color: rgb(193, 66, 243);
  text-decoration: none;
  transition: 0.2s color;
}

/* Projects Page */
.page-btns {
  color: white;
  background-color: black;
  outline: none;
}
.page-btns:hover {
  color: black;
  background-color: rgba(165, 49, 211, 0.575);
  outline: none;
  transition: 0.5s background-color;
}

#projects-div {
  margin-top: 25px;
}

.projects-links {
  color: black;
}

.projects-links a:hover {
  color: rgb(193, 66, 243);
  text-decoration: none;
  transition: 0.2s color;
}
