{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
      
  <div id="about-area">
    <h1 id="about-title" class="text-light">About</h1>
    <hr style="background-color: white;">
    <p>
        <b class="text-light">
            Why is any of this important? Well, because there may be a quiz at the endblock.
        </b> 
    </p>
    <p id="about-description" class="text-light">
        <i>
            Eldon delaCruz, Jr. was born a Californian and raised as an Oregonian. 
            <br>
            He grew up in the beautiful smallish city of Tigard and went off to Oregon State University to study music. 
        </i>
        <br>
        <i>
            After graduating in 2018, he did absolutely nothing with his degree and worked as a self-contractor DJ for weddings and corporate events.
            <br>
            Two years into his stable career, COVID-19 hit. And as the summer slowly went by, so did his sushi-money.
            <br>
            One morning, as he sat waiting for Rocket League to load, he realized he needed to do something other than 
            <br>
            eat, sleep, and do whatever he wanted to do while he waited for the pandemic to be over so he could return to working events.
            <br>
            It was at this moment that he decided to leave the Rocket League main menu and research financially stable careers that
            <br>
            - if another pandemic were to occur -
            <br>
            he wouldn't have to worry about job/financial security.
            <br>
            With his impeccable Google-searching skills, he was drawn to the idea of learning how to become a Software Engineer.
            <br>
            He remembered one of his friends mentioning to him that there were coding bootcamps.
            <br>
            Determined, he discovered Career Karma, and within a week he had called multiple bootcamps, figuring out which one would suit him the best.
            <br>
            Alas, he chose <b>Springboard</b>, and after completing and passing their Prep Course, he enrolled in their <b>Software Engineering Career Track</b>.
            <br>
            Throughout this course, he has learned and applied the fundamentals of 
            <br>
            <b>HTML</b>, <b>CSS</b>, <b>JavaScript</b>, <b>jQuery</b>, <b>Node</b>, <b>Express</b>, <b>Python</b>, <b>Flask</b>, <b>SQL</b>/<b>SQLAlchemy</b>, & <b>Testing</b>.
            <br>
            Aside from the technical skills, this course gave him the opportunity to learn a remarkable amount about himself, as well.
            <br>
            This section is getting a bit lengthy, so we won't go into detail about how cool of a guy he is now.
            <br>
            However, if you are at all wondering how cool he is, please feel free to head over to the <a class="page-links" href="/contact">Contact</a> page to find how to reach him.
            <br>
            You can also reach him through his socials by checking the "Socials" dropdown menu.
        </i>    
    </p>
    <p>
        <b class="text-light">
            No quiz today (HOORAY!), but be sure to check out my <a class="page-links" href="/projects">Projects</a> & <a class="page-links" href="https://drive.google.com/drive/folders/1tgiZ7tArtij8BjMmvkER_1jW0FKjt3cu?usp=sharing">Resume</a> while you're here.
        </b> 
    </p>
  </div>
      
{% endblock %}