{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}

<div id="contact-area">
    <h1 id="contact-title" class="text-light">Contact</h1>
    <hr style="background-color: white;">

    <div class="container">
        <div class="row">
            <div class="col ">
                <div class="card mx-auto" style="width: 18rem;">
                    <div class="card-header">
                        <b>Email</b>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><i>edczjr@gmail.com</i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
</div>

{% endblock %}