{% extends 'base.html' %}
{% block title %}Eldon delaCruz, Jr. Portfolio{% endblock %}
{% block content %}
      
  <div id="homepage-title">
    <h4 class="text-light">Oh, hello there.</h4> 
    <h3 class="text-light">My name is</h3>
    <h1><i id="first-name" class="text-light">Eldon delaCruz, Jr.</i></h1>
    <h2 id="description" class="text-light">
      Software Engineer based in Salem, Oregon, US.
    </h2>
    <div id="profile-picture" class="text-center">
      <img src="../static/images/GHProfilePic_Easy-Resize.com.jpg" class="rounded" alt="Portfolio Profile Picture" />
    </div>
  </div>

  <hr style="background-color: white;">

  <h4 class="text-light text-center">Quick Links to Project Websites</h4>
  <div id="project-cards" class="row no-gutters">
    <div class="col-6">
      <div class="card ml-2 mr-2">
        <div class="card-body">
          <h5 class="card-title">Capstone 1 - MuMe</h5>
          <p class="card-text">MuMe is a Music & Mental Health Community designed as a safe space for people to publicly express themselves through music to complement written words.</p>
          <a href="https://musicandmentalhealth.herokuapp.com/" class="btn page-btns">MuMe</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card ml-2 mr-2">
        <div class="card-body">
          <h5 class="card-title">Capstone 2 - TBD</h5>
          <p class="card-text">LocInfo - a travel app that provides location information, such as COVID risk, budget rating, and what they are known for - is currently in progress. Please stay tuned!</p>
        </div>
      </div>
    </div>
  </div>  
      
{% endblock %}