{% extends 'base.html' %}
{% block title %}Eldon delaCruz, Jr. Portfolio{% endblock %}
{% block content %}
      
  <div id="homepage-title">
    <h4 class="text-light">Oh, hello there.</h4> 
    <h3 class="text-light">My name is</h3>
    <h1><i id="first-name" class="text-light">Eldon delaCruz, Jr.</i></h1>
    <h2 id="description" class="text-light">
      Software Engineer based in Salem, Oregon, US.
    </h2>
    <div id="profile-picture" class="text-center">
      <img src="../static/images/GHProfilePic_Easy-Resize.com.jpg" class="rounded" alt="Portfolio Profile Picture" />
    </div>
  </div>

  <hr style="background-color: white;">

  <h4 class="text-light text-center">Quick Links to Project Websites</h4>
  <div id="project-cards" class="row no-gutters">
    <div class="col-6">
      <div class="card ml-2 mr-2">
        <div class="card-body">
          <h5 class="card-title">Capstone 1 - MuMe</h5>
          <p class="card-text">MuMe is a Music & Mental Health Community designed as a safe space for people to publicly express themselves through music to complement written words.</p>
          <a href="https://musicandmentalhealth.herokuapp.com/" class="btn page-btns">MuMe</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card ml-2 mr-2">
        <div class="card-body">
          <h5 class="card-title">Capstone 2 - TBD</h5>
          <p class="card-text">This database-driven project using React is currently in progress. Please stay tuned!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="quick-links"class="container-small">
    <div class="row">
      <div class="card text-center col-6 col-md-4">
        <div class="card-header">
          Quick Links to Project Websites
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="card-title">Capstone 1 - MuMe</h5>
              <p class="card-text">MuMe is a Music & Mental Health Community designed as a safe space for people to publicly express themselves through music to complement written words.</p>
              <a href="https://musicandmentalhealth.herokuapp.com/" class="card-link">MuMe</a>
            </li>
            <li class="list-group-item">
              <h5 class="card-title">Capstone 2</h5>
              <p class="card-text">This project is currently in progress. Please stay tuned!</p>
            </li>
          </ul>     
        </div>
      </div>
    </div>
  </div> -->
  

  
      
{% endblock %}