{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}

<div id="projects-area">
    <h1 id="projects-title" class="text-light">Projects</h1>
    <hr style="background-color: white;">

    <div id="projects-div" class="row no-gutters">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                  Capstone Project 1
                </div>
                <div class="card-body">
                  <h5 class="card-title">MuMe</h5>
                  <p class="card-text">
                    <a class="projects-link" href="https://musicandmentalhealth.herokuapp.com/">MuMe</a> is a Music & Mental Health Community designed as a safe space for people to publicly express themselves through music to complement written words. Members can use MuMe as a virtual journal as well as a social platform to discover others who may be able to relate to their content. This database-driven website was developed using HTML, CSS, Bootstrap, Font Awesome, Python, Flask, Flask-WTForms, SQL, SQLAlchemy, Bcrypt, Jinja, JavaScript, JQuery, and Axios, and utilized the Spotify API.
                  </p>
                  <a href="https://github.com/Squeekoo/Capstone1" class="btn page-btns">Link to GitHub</a>
                </div>
              </div>
        </div>
    </div>


</div>

{% endblock %}